.postsBlock {
    padding: 10px;
}

.posts {
    /*margin-top: 10px;*/
}

.postCreator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}