.app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    /* background-color: aquamarine; */
}

.central-block {
    display: flex;
    height: 100%;
    width: 90%;
    margin-left: 10%;
}

.app-wrapper_main {
    width: 100%;
    /* background-color: aquamarine; */
}